<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
  <div th:if="${message}" class="alert alert-warning text-center" >
    [[${message}]]

  </div>

  <form th:action="@{/chofer/save}" method="post" th:object="${chofer}"
        style="max-width: 500px; margin:0 auto;">
    <input type="hidden" th:field="*{id}">

  <div class="card">
   <div class="card-body">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nombre</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{nombre}" class="form-control" required minlength="2" maxlength="20" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Apellido</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{apellido}" class="form-control" required minlength="2" maxlength="20"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Edad</label>
        <div class="col-sm-8">
          <input type="number" th:field="*{edad}" class="form-control" required min="18"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Salario</label>
        <div class="col-sm-8">
          <input type="number" th:field="*{salario}" class="form-control" required min="1200"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Activado</label>
        <div class="col-sm-8">
          <input type="radio" th:field="*{sexo}" name="gender" value="male" required checked> Male<br>
          <input type="radio" th:field="*{sexo}" name="gender" value="female" required> Female<br>
          <input type="radio" th:field="*{sexo}" name="gender" value="other" required> Other
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2"> Guardar</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()"> Cancelar</button>

      </div>




    </div>
   </div>
  </div>

  </form>

</div>
<script type="text/x-javascript">
  function cancelForm(){
    window.location = "[[@{/chofer}]]";
  }

</script>

</body>
</html>